body {
  margin: 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(https://img.freepik.com/premium-photo/old-newspaper-background-vintage-grey-grunge-paper-texture-blank-textured-pattern-with-space-text_839035-1841126.jpg);
}

.container {
  background-color: lightgrey;
  height: 100vh;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.search-box {
  border-bottom: 3px solid darkgrey;
}

.search-box div {
  font-size: 2em;
}

#task-separation {
  display: flex;
  border-bottom: 3px solid darkgrey;
}

#task-separation div {
  padding: 0 1em;
}

.task-flex {
  display: flex;
  justify-content: space-between;
  padding: 1em 0;
  border-bottom: 1px solid darkgray;
}

.complete {
  text-decoration: line-through;
  background-color: lightgreen;
}

#task-separation div:hover {
  cursor: pointer;
}

.background {
  background-color: lightcyan;
  border-radius: 45%;
  box-shadow: 1 1 1 1;
}


@media (max-width: 425px) {
  .task-flex {
    flex-direction: column;  
    align-items: flex-start;  
  }

  .task-flex div {
    margin-bottom: 5px; 
  }

  #task-input {
    width: 100%;  
  }

  #add-task {
    width: 100%;
  }

  .search-box {
    font-size: 1.5em; 
  }
}
