  body {
    margin: 0;
    color: gold;
    background-color: #17517e;
  }

  .container {
    margin-top: 1em;
    border-radius: 4%;
    border: 3px solid gold;
  }

  .title {
    font-weight: bold;
    font-family: "Times New Roman", serif;
    display: flex;
    justify-content: space-between;
  }

  .title-name {
    font-size: 3.5em;
  }

  .search {
    font-size: 1.7em;
    padding-top: 1.5em;
  }

  .search i {
    padding-left: 0.7em;
  }

  #menus {
    color: white;
    display: flex;
    justify-content: center;
    border-top: 2px double gold;
    border-bottom: 2px double gold;
    flex-wrap: wrap;
  }

  #menus:hover {
    cursor: pointer;
  }

  #menus div {
    font-size: 1.1em;
    padding: 0.6em;
  }

  .movie-board {
    margin-top: 1em;
  }

  .movies img {
    width: 250px;
  }

  .genre-name {
    text-align: center;
  }

  .movie-slide {
    height: 80%;
  }

  .movie-slide h2 {
    text-align: center;
  }

  .movies h2 {
    text-align: center;
  }

  #movies-board {
    text-align: center;
  }

  #movies-board img {
    width: 180px;
  }

  h4 {
    color: white;
  }

  .col-md-6 img {
    width: 230px;
  }

  .movies-data {
    /* background-color: rgba(0, 0, 0, 0.7); */
    top: -30px;
    text-align: center;
    text-decoration-line: underline;
  }

  .movies-data:hover {
    cursor: pointer;
  }

  h2 {
    font-weight: 700;
    color: rgb(236, 229, 229);
    margin-bottom: 0.5em;
  }

  .pagination {
    justify-content: center;
  }

  .movie-month {
    color: rgb(236, 229, 229);
    background-color: #17517e;
    width: 1.5em;
  }

  .movie-day {
    color: rgb(236, 229, 229);
    background-color: #17517e;
    width: 0.9em;
  }

  .movie-year {
    color: rgb(236, 229, 229);
    background-color: #17517e;
    width: 2.5em;
  }

  .movies-search:hover {
    cursor: pointer;
  }

  @media (max-width: 992px) {
    .container {
      height: 100%;
    }
  }

  @media (max-width: 768px) {
    #menus {
      display: none;
    }

    .search {
      display: none;
    }

    .title {
      justify-content: center;
      font-size: 0.7em;
    }

  }

  @media (max-width: 320px) {
    .title {
      justify-content: center;
      font-size: 0.5em;
    }
  }

  .modal {
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 0.5s ease;
  }

  .modal-content {
    background-color: #17517e;
    padding: 20px;
    border: 2px solid gold;
    border-radius: 10px;
    text-align: center;
    width: 80%;
    max-width: 800px;
  }

  .close {
    cursor: pointer;
    float: right;
    font-size: 20px;
  }

  .movie-details {
    display: flex;
  }